header 
{
    background-color: grey;
    height: 90px;
    
}


header nav ul 
{
    list-style: none;
}
ul li
{
display: inline;
}
#div1 {
    display: inline-block;
}
#secDiv
{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    display: inline;
    margin-bottom: 100px;
    height: 1000px;
    width: 2000px;
    border-top-width: 0px;
    border-bottom-width: 1000px;
    padding-bottom: 0px;
    padding-top: 100px;
    margin-top: 236px;
    position: relative;
    bottom: 40px;
    left: 16px;
}
#logo
{
    display: inline;
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 173px;
}

#secDiv > ul
{
    display: inline;
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    list-style: none;
    margin-left: 250px;
}
#bigpic
{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    margin-left: 174px;
    margin-top: 38px;
}
/* #secDiv > ul */
body > main > section > img
{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    position: relative;
    margin-right: 15px;
    margin-left: 15px;
    left: auto;
    right: 48px;
    top: 20px;
}
body > main > section
{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    position: relative;
    display: block;
    left: 204px;
}
body > main > img
{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    position: relative;
    left: 171px;
    top: 50px;
}
#scroll > img
{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    position: relative;
    left: 171px;
    top: 50px;
}
#secDiv > ul > li:nth-child(1)
{
    list-style: none;
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    display: inline;
    position: relative;
    right: 203px;
}
#secDiv > ul > li:nth-child(2)
{
    list-style: none;
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    position: relative;
    display: inline;
    right: 155px;
}
#secDiv > ul > li:nth-child(3)
{
    list-style: none;
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    position: relative;
    display: inline;
    right: 107px;
}
#secDiv > ul > li:nth-child(4)
{
    list-style: none;
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    position: relative;
    display: inline;
    right: 50px;
}
/* body > main > h3
{
    font:bold;
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    position: relative;
    left: 657px;
    bottom: 351px;
} */

#click > div > img
{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    position: relative;
    right: 506px;
    height: 152px;
    top: 41px;
}
#click
{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    position: relative;
    left: 664px;
    bottom: 364px;
}
#button
{
    margin-top: 25px;
    width: 116px;
    height: 36px;

}
body > main > h3
{
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
    position: relative;
    left: 657px;
    bottom: 351px;
    font-style: oblique;
    font-weight: bold;
    font-size: larger;
    height: 30px;
}

#scroll
{      margin: 0;
    padding: 0;
    vertical-align: baseline;
    position: relative;
    border: 1px solid #ccc;
    font: 16px/26px Georgia, Garamond, Serif;
    overflow: auto;
    left: 654px;
    width: 400px;
    bottom: 363px;
    height: 320px;
}
#font
{
    font-family: Arial, Helvetica, sans-serif;
    scroll-behavior: smooth;
}